:root {
  --text-font: sans-serif, arial;

  --breakpoint-2xs: 480px;
  --breakpoint-xs: 640px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1536px;
  --breakpoint-2xl: 1920px;

  --content-width: 100%;

  /* 12.5px → 12.8px */
  --text-xs: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  /*  15px → 16px */
  --text-sm: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  /* 18px → 20px */
  --text-md: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* 21.6px → 25px */
  --text-lg: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  /* 25.92px → 31.25px */
  --text-xl: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  /* 31.104px → 39.0625px */
  --text-2xl: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  /* 37.3248px → 48.8281px */
  --text-3xl: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  /* 44.7898px → 61.0352px */
  --text-4xl: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  /* Space 3xs: 5px → 5px */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  /* Space xs: 14px → 15px */
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  /* Space sm: 18px → 20px */
  --space-sm: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* Space md: 27px → 30px */
  --space-md: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  /* Space lg: 36px → 40px */
  --space-lg: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  /* Space 3xl: 108px → 120px */
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 10px */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  /* Space 2xs-xs: 9px → 15px */
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  /* Space xs-sm: 14px → 20px */
  --space-xs-sm: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  /* Space s-m: 18px → 30px */
  --space-sm-md: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  /* Space md-lg: 27px → 40px */
  --space-md-lg: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  /* Space lg-xl: 36px → 60px */
  --space-lg-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  /* Space xl-2xl: 54px → 80px */
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  /* Space 2xl-3xl: 72px → 120px */
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Rounded borders */
  --rounded-sm: 4px;
  --rounded-md: 8px;
  --rounded-lg: 16px;
  --rounded-xl: 32px;
}

:root {
  /* Brand */
  --color-primary: #6200ee;
  --color-secondary: #03dac6;

  /* Surfaces */
  --color-surface: #ffffff;
  --color-surface-high: #f5f5f5;
  --color-surface-higher: #eeeeee;

  /* Glyphs */
  --color-on-surface: #121212;
  --color-on-surface-high: rgba(0, 0, 0, 0.87);
  --color-on-surface-higher: rgba(0, 0, 0, 0.6);

  /* States */
  --color-state-success: #388e3c;
  --color-state-error: #d32f2f;
  --color-state-warning: #fbc02d;
  --color-state-info: #0288d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Brand */
    --color-primary: #bb86fc;
    --color-secondary: #03dac6;

    /* Surfaces */
    --color-surface: #0b0b0b;
    --color-surface-high: #191919;
    --color-surface-higher: #292929;

    /* Glyphs */
    --color-on-surface: #ffffff;
    --color-on-surface-high: rgba(255, 255, 255, 0.87);
    --color-on-surface-higher: rgba(255, 255, 255, 0.6);

    /* States */
    --color-state-success: #4caf50;
    --color-state-error: #ef5350;
    --color-state-warning: #ffb300;
    --color-state-info: #29b6f6;
  }
}

/* Media queries for content width */
@media (min-width: 480px) {
  .content {
    --content-width: var(--breakpoint-2xs);
  }
}

@media (min-width: 640px) {
  .content {
    --content-width: var(--breakpoint-xs);
  }
}

@media (min-width: 768px) {
  .content {
    --content-width: var(--breakpoint-sm);
  }
}

@media (min-width: 1024px) {
  .content {
    --content-width: var(--breakpoint-md);
  }
}

@media (min-width: 1280px) {
  .content {
    --content-width: var(--breakpoint-lg);
  }
}

@media (min-width: 1536px) {
  .content {
    --content-width: var(--breakpoint-lg);
  }
}

@media (min-width: 1920px) {
  .content {
    --content-width: var(--breakpoint-lg);
  }
}


@keyframes border-track {
  to {
      background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-surface);
  font-family: var(--text-font);
  font-size: var(--text-md);
  color: var(--color-on-surface);
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  box-shadow: var(--color-primary) 0 -1px 0 inset;
}

.top-nav {
  background: var(--color-surface-high);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-on-surface);
  padding: var(--space-xs) var(--space-sm);
}

.hidden {
  display: none;
}

#webWorkerAbort.processing {
  display: block;
}

.drop-zone {
  position: relative;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  border-radius: var(--rounded-lg);
  margin: var(--space-xl) 0;
  height: 400px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.drop-zone__cell-grid,
.drop-zone__vignette-outer,
.drop-zone__vignette-inner,
.drop-zone__shade,
.drop-zone__shade-top,
.drop-zone-content__border-top-fade,
.drop-zone__border-dashed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.drop-zone__cell-grid {
  --cell-size: 28px;
  --cell-color: var(--color-on-surface);
  background-position: calc(-1 * var(--cell-size) / 4) calc(-1 * var(--cell-size) / 2);
  background-size: var(--cell-size) var(--cell-size);
  background-image: linear-gradient(90deg, var(--cell-color) 1px, #0000 0), linear-gradient(var(--cell-color) 1px, transparent 0);
  opacity: 0.8;
}

.drop-zone__border-dashed {
  --border-width: 2px;
  --border-length: 18px;
  background: linear-gradient(90deg, var(--color-on-surface) 50%, transparent 50%), 
              linear-gradient(90deg, var(--color-on-surface) 50%, transparent 50%), 
              linear-gradient(0deg, var(--color-on-surface) 50%, transparent 50%), 
              linear-gradient(0deg, var(--color-on-surface) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: var(--border-length) var(--border-width), var(--border-length) var(--border-width), var(--border-width) var(--border-length), var(--border-width) var(--border-length);
  background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
  border-radius: var(--rounded-lg);
  animation: border-track 220s linear infinite;
  opacity: 0.4;
  z-index: 1;
}

.drop-zone__vignette-outer {
  box-shadow: inset 0 0 25vw 4vw var(--color-surface);
  opacity: 0.5;
}

.drop-zone__vignette-inner {
  box-shadow: inset 0 0 25vw 12vw var(--color-surface);  opacity: 0.5;
  opacity: 0.8;
}

.drop-zone__shade {
  background-color: var(--color-surface);
  opacity: 0.3;
}

.drop-zone__shade-top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.drop-zone.drop-zone--is-dragging {
  border-color: var(--color-primary);
}

.drop-zone.drop-zone--is-dragging::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-primary);
  opacity: 0.2;
}

.drop-zone-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--space-md);
  border-radius: var(--rounded-lg);
  overflow: hidden;
}


.drop-zone-content__border {

}

.drop-zone input[type="file"] {
  display: none;
}


#preview, #preview-after-compress {
  width: 100%;
}

img {
  width: 100%;
}

.content {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--space-2xl);
}

/* Badge style */
.file-format {
  display: inline-block;
  padding: var(--space-3xs) var(--space-xs);
  border-radius: var(--rounded-md);
  background-color: var(--color-primary);
  color: white;
  font-size: var(--text-xs);
  font-weight: bold;
  text-transform: uppercase;
}

