@media (min-width: 480px) {
  .content {
    --content-width: var(--breakpoint-2xs);
  }
}

@media (min-width: 640px) {
  .content {
    --content-width: var(--breakpoint-xs);
  }
}

@media (min-width: 768px) {
  .content {
    --content-width: var(--breakpoint-sm);
  }
}

@media (min-width: 1024px) {
  .content {
    --content-width: var(--breakpoint-md);
  }
}

@media (min-width: 1280px) {
  .content {
    --content-width: var(--breakpoint-lg);
  }
}

@media (min-width: 1536px) {
  .content {
    --content-width: var(--breakpoint-lg);
  }
}

@media (min-width: 1920px) {
  .content {
    --content-width: var(--breakpoint-lg);
  }
}


@keyframes border-track {
  to {
      background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}


@keyframes loading-dots {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: ".";
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}