@media (min-width: 480px) {
  .content {
    --content-width: var(--breakpoint-2xs);
  }
}

@media (min-width: 640px) {
  .content {
    --content-width: var(--breakpoint-xs);
  }
}

@media (min-width: 768px) {
  .content {
    --content-width: var(--breakpoint-sm);
  }
}

@media (min-width: 1024px) {
  .content {
    --content-width: var(--breakpoint-md);
  }
}

@media (min-width: 1280px) {
  .content {
    --content-width: var(--breakpoint-lg);
  }
}

@media (min-width: 1536px) {
  .content {
    --content-width: var(--breakpoint-lg);
  }
}

@media (min-width: 1920px) {
  .content {
    --content-width: var(--breakpoint-lg);
  }
}


@keyframes border-track {
  to {
      background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}