:root {
  --text-font: 'geist', sans-serif, arial;

  --breakpoint-2xs: 480px;
  --breakpoint-xs: 640px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1536px;
  --breakpoint-2xl: 1920px;

  --content-width: 100%;

  --duration-75: 75ms;
  --duration-100: 100ms;
  --duration-150: 150ms;
  --duration-200: 200ms;
  --duration-300: 300ms;
  --duration-500: 500ms;
  --duration-700: 700ms;
  --duration-1000: 1000ms;
  --duration-1400: 1400ms;

  --duration-hover: var(--duration-300);

  /* 12.5px → 12.8px */
  --text-xs: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  /*  15px → 16px */
  --text-sm: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  /* 18px → 20px */
  --text-md: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* 21.6px → 25px */
  --text-lg: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  /* 25.92px → 31.25px */
  --text-xl: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  /* 31.104px → 39.0625px */
  --text-2xl: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  /* 37.3248px → 48.8281px */
  --text-3xl: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  /* 44.7898px → 61.0352px */
  --text-4xl: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  /* Space 3xs: 5px → 5px */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  /* Space xs: 14px → 15px */
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  /* Space sm: 18px → 20px */
  --space-sm: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* Space md: 27px → 30px */
  --space-md: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  /* Space lg: 36px → 40px */
  --space-lg: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  /* Space 3xl: 108px → 120px */
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 10px */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  /* Space 2xs-xs: 9px → 15px */
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  /* Space xs-sm: 14px → 20px */
  --space-xs-sm: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  /* Space s-m: 18px → 30px */
  --space-sm-md: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  /* Space md-lg: 27px → 40px */
  --space-md-lg: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  /* Space lg-xl: 36px → 60px */
  --space-lg-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  /* Space xl-2xl: 54px → 80px */
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  /* Space 2xl-3xl: 72px → 120px */
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Rounded borders */
  --rounded-sm: 4px;
  --rounded-md: 8px;
  --rounded-lg: 16px;
  --rounded-xl: 32px;
}

:root {
  /* Brand */
  --color-primary: #bb86fc;
  --color-secondary: var(--color-surface-high);
  --color-secondary-hover: var(--color-surface-higher);

  /* Surfaces */
  --color-surface: #0b0b0b;
  --color-surface-high: #191919;
  --color-surface-higher: #292929;

  /* Glyphs */
  --color-on-surface: #ffffff;
  --color-on-surface-high: rgba(255, 255, 255, 0.87);
  --color-on-surface-higher: rgba(255, 255, 255, 0.6);

  --color-border: rgba(93, 93, 93, 0.9);

  /* States */
  --color-state-success: #4caf50;
  --color-state-error: #ef5350;
  --color-state-warning: #ffb300;
  --color-state-info: #29b6f6;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Brand */
    --color-primary: #6200ee;
    --color-secondary: #03dac6;

    /* Surfaces */
    --color-surface: #ffffff;
    --color-surface-high: #f5f5f5;
    --color-surface-higher: #eeeeee;

    /* Glyphs */
    --color-on-surface: #121212;
    --color-on-surface-high: rgba(0, 0, 0, 0.87);
    --color-on-surface-higher: rgba(0, 0, 0, 0.6);


    /* States */
    --color-state-success: #388e3c;
    --color-state-error: #d32f2f;
    --color-state-warning: #fbc02d;
    --color-state-info: #0288d1;
  }
}


